DEBUG=True
DOMAIN=VAR_DOMAIN

STACK_NAME=fastapi-mysql-template-v2
SERVER_NAME=fastapi-mysql-template-v2
SERVER_HOST=http://localhost:8000

# Backend
BACKEND_CORS_ORIGINS=["http://localhost:8000", "http://127.0.0.1:8000"]
PROJECT_NAME=fastapi-mysql-template-v2
SECRET_KEY=SomeSecretValue123
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=admin
SMTP_TLS=True
SMTP_PORT=465
SMTP_HOST=localhost
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=admin@example.com

USERS_OPEN_REGISTRATION=False

SENTRY_DSN=

# Flower
FLOWER_BASIC_AUTH=admin:SomeSecretValue123

# MySQL Local
MYSQL_USER_LOCAL="VAR_DBUSER"
MYSQL_PASSWORD_LOCAL="VAR_DBPASS"
MYSQL_DATABASE_LOCAL="VAR_DBNAME"
MYSQL_HOST_LOCAL=localhost
MYSQL_PORT_LOCAL=3306

# Crawlers
REMOTE_SELENIUM_GRID="http://selenium.grid.example.com:4444/wd/hub"

FULL_PROXY=
PROXY_HOST=
PROXY_PORT=
PROXY_USER=
PROXY_PASS=

PATH_MEDIA="VAR_PATHMEDIA"